<h4>Esto es un componente set-title con un output</h4>

<div>
    <button 
    type="button" 
    class="btn btn-primary"
    (click)="retornarNuevoSubtitulo('Checando el subtitulo')"
    >Cambiar subntitulo </button>
</div>