<h4>Tabla de registros</h4>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Apellido</th>
        <th scope="col">Nombre</th>
        <th scope="col">Handle</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users,let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{user.apellido}}</td>
        <td>{{user.nombre}}</td>
        <td>{{user.edad}} </td>
        <td> 
            <button type="button" class="btn btn-info" (click)="enviarUsuario(user)" >Enviar</button>
        </td>
      </tr>
    </tbody>
  </table>