<h4>Esto es un componente set-name con un output</h4>

<div>
    <button 
    type="button" 
    class="btn btn-primary"
    (click)="retornarNuevoNombre('Programador')"
    >Cambiar nombre </button>
</div>