<h1> Esto es un componente </h1>

<!-- componente para mostrar los titulos de la pagina -->
<app-header [titulo]=title [subtitulo]=subtitle [nombreHeader]=name></app-header>

<!-- componente para mostrar el nombre -->
<app-latbar [nombreLatbar]=name></app-latbar>

<!-- componente para hacer el cambio del nombre -->
<app-set-name [nombre]=name (eventoNuevoNombre)=cambiarNombre($event)></app-set-name>

<br />

<!-- componente para hacer el cambio del titulo -->
<app-set-title (eventoNuevoTitulo)=cambiarTitulo($event)></app-set-title>

<br />

<!-- componente para hacer el cambio del subtitulo -->
<app-set-subtitle (eventoNuevoSubtitulo)=cambiarSubtitulo($event)></app-set-subtitle>

<br /><br /><br />

<!-- componente de registros -->
<app-registros (eventoEnviarUsuario)=recibirUsuario($event)></app-registros>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{usuario.nombre}}</h5>
        <h5>{{usuario.apellido}}</h5>
        <p class="card-text">{{usuario.edad}}</p>
    </div>
</div>