<h4>Esto es un componente set-title con un output</h4>

<div>
    <button 
    type="button" 
    class="btn btn-primary"
    (click)="retornarNuevoTitulo('Esto es otro titulo para nuestra prueba')"
    >Cambiar titulo </button>
</div>